@model IEnumerable<EcomPlat.Data.Models.Subcategory>

@{
    this.ViewData["Title"] = "Manage Subcategories";
}

<h2>@this.ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Subcategory</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>UrlKey</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subcategory in this.Model)
        {
            <tr>
                <td>@subcategory.Name</td>
                <td>@subcategory.SubcategoryKey</td>
                <td>@subcategory.Category?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subcategory.SubcategoryId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@subcategory.SubcategoryId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@subcategory.SubcategoryId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
